@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using client.Data
@inject NavigationManager Navigation
@inject IHubContext<GameHub> GameHubContext
@inject IHubContext<PlayerHub> PlayerHubContext


<p><small>Connected as: @MyPlayerName</small></p>

@if (SomeoneRequestedADual)
{
    <div>
        Play with opponent?
        <button>Yes</button>
    </div>
}
else
{
    <div class="container-sm bg-light text-black">
        <h2 class="jacquard-24-regular text-center m-0 p-0">The List</h2>
        <small class="text-center text-secondary font-monospace mb-5">Select a player to Joust</small>
        @foreach (var p in Players)
        {
            @if (p.Name != MyPlayerName)
            {
                <p class="font-monospace bg-body-tertiary">
                    @p.Name
                    <button class="btn btn-outline-primary font-monospace" @onclick="() => OnJoustClick(p)">Joust</button>
                </p>
            }
        }

        <hr />
        <h2 class="jacquard-24-regular text-center mt-4">Currently Clashing</h2>
        <p class="text-center text-secondary">Players currently jousting</p>
        <p>none</p>

    </div>
}


@code {
    [Parameter]
    public List<Player> Players { get; set; } = new();

    [Parameter]
    public string MyPlayerName { get; set; } = string.Empty;

    private HubConnection? hubConnection;

    private bool SomeoneRequestedADual = false;


    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/playerhub"))
            .Build();

        hubConnection.On<string>("SendRequestToOpponent", (message) =>
    {
       // if (message == this.playerId)
        // This should now match the event name sent from the server
        SomeoneRequestedADual = true;
        InvokeAsync(StateHasChanged);
    });


        await hubConnection.StartAsync();
    }


    private async Task OnJoustClick(Player player)
    {
        var opponent = Players.FirstOrDefault(p => p.PlayerId == player.PlayerId);


        if (hubConnection is not null && opponent is not null)
        {
            await hubConnection.SendAsync("RecieveDualRequest", player.PlayerId, opponent.PlayerId);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;
}
