@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using client.Data
@inject NavigationManager Navigation
@inject IHubContext<GameHub> GameHubContext
@* @inject IHubContext<PlayerHub> PlayerHubContext *@
@* @inject HubConnection playerHubConnection; *@


<p><small>Connected as: @MyPlayerName</small></p>

@if (SomeoneRequestedADual)
{
    <div>
        Play with opponent?
        <button>Yes</button>
    </div>
}
else if (WaitingForDualResponse)
{
    <div>
        Waiting for response from opponent...
    </div>
}
else
{
    <p>@hubConnectionId</p>
    <div class="container-sm bg-light text-black">
        <h2 class="jacquard-24-regular text-center m-0 p-0">The List</h2>
        <small class="text-center text-secondary font-monospace mb-5">Select a player to Joust</small>
        @foreach (var p in Players)
        {
            @if (p.Name != MyPlayerName)
            {
                <p class="font-monospace bg-body-tertiary">
                    @p.Name
                    <button class="btn btn-outline-primary font-monospace" @onclick="() => OnJoustClick(p)">Joust</button>
                </p>
            }
        }

        <hr />
        <h2 class="jacquard-24-regular text-center mt-4">Currently Clashing</h2>
        <p class="text-center text-secondary">Players currently jousting</p>
        <p>none</p>

    </div>
}


@code {
    [Parameter]
    public List<Player> Players { get; set; } = new();

    [Parameter]
    public string MyPlayerName { get; set; } = string.Empty;

    [Parameter]
    public HubConnection playerHubConnection { get; set; }

    private HubConnection? hubConnection;

    private bool SomeoneRequestedADual = false;
    private bool WaitingForDualResponse = false;

    private string hubConnectionId { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        // hubConnection = new HubConnectionBuilder()
        //     .WithUrl(Navigation.ToAbsoluteUri("/playerhub"))
        //     .Build();
        hubConnection = playerHubConnection;

        hubConnection.On<string>("SendRequestToOpponent", (message) =>
        {
            Console.WriteLine("TheList.razor recieved sendrequesttoopponent message!");
            if (message == hubConnectionId)
            {
                
            SomeoneRequestedADual = true;
            InvokeAsync(StateHasChanged);
            }
        });
        hubConnection.On<Guid>("WaitingForOpponentConfirmation", (message) =>
        {
            WaitingForDualResponse = true;
            InvokeAsync(StateHasChanged);
        });


        hubConnectionId = hubConnection.ConnectionId.ToString();
        Console.WriteLine(MyPlayerName + " ConnectionId is: " + hubConnection.ConnectionId.ToString());
    }


    private async Task OnJoustClick(Player player)
    {
        var opponent = Players.FirstOrDefault(p => p.PlayerId == player.PlayerId);


        if (hubConnection is not null && opponent is not null)
        {
            await hubConnection.SendAsync("RecieveDualRequest", player.PlayerId, opponent.PlayerId);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;
}
