@using Microsoft.AspNetCore.SignalR.Client
@using client.Data
@inject NavigationManager NavigationManager;

<h3>Create Lobby</h3>
<input @bind-value="LobbyName" />
<button @onclick="Send" class="btn-primary">Create and Join</button>

@* @foreach(var l in mylobbies) *@
@* { *@
@*     <p>@l.LobbyName</p> *@
@* } *@

@code {
    private HubConnection? hubConnection;
    private List<UpdatedLobbiesMessage> mylobbies = [];
    private string LobbyName = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/lobbyhub"))
            .Build();

        hubConnection.On<List<UpdatedLobbiesMessage>>("ReceiveUpdatedLobbies", (lobbies) =>
        {
            mylobbies = lobbies;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("CreateLobby", new CreateLobbyRequest() { LobbyName = this.LobbyName, LobbyId = Guid.NewGuid() });
        }
    }
}
