@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using client.Components.IndivComponents
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Type Race</PageTitle>


<div class="container">
<div class="row">
    <div class="col-md-6">
        <JoinLobby />
    </div>
    <div class="col-md-6">
        <CreateLobby />
    </div>
</div>
</div>




@code {
    
}