@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using client.Components.IndivComponents
@using client.Data
@using static System.Net.WebRequestMethods
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;
@inject HttpClient Http;
@inject HubConnection hubConnection;

<PageTitle>Clash of Keys</PageTitle>

<h1 class="jacquard-24-regular" style="font-size: 32px;">Clash of Keys</h1>
<p>@myConnectionId</p>
@if (!joined)
{
    <input @bind-value="newPlayerName" class="bg-black text-white text-xxl-center font-monospace" type="text" style="font-size: 30px;" />
    <button @onclick="Send" class="btn-outline-secondary font-monospace">Join</button>
}
else
{
    <TheList Players="allPlayers" MyPlayerName=@newPlayerName playerHubConnection="hubConnection"/>
}

@code {
    private string newPlayerName = "";
    //private HubConnection? hubConnection;
    private List<Player> allPlayers = new List<Player>();

    private string myConnectionId { get; set; } = "";
    private bool joined = false;


    private List<string> namesList = new List<string>
    {
        "Lancelot",
        "Bartholomew",
        "Bertram",
        "Thomas",
        "William",
        "Arthur",
        "Guinevere",
        "Roland",
        "Gawain",
        "Isolde",
        "Merlin",
        "Eleanor",
        "Richard",
        "Hector",
        "Beatrix",
        "Geoffrey",
        "Alistair",
        "Eustace",
        "Vivienne",
        "Reginald"
    };

    protected override async Task OnInitializedAsync()
    {
        newPlayerName = "sir" + namesList[Random.Shared.Next(namesList.Count)];

        // hubConnection = new HubConnectionBuilder()
        //     .WithUrl(NavigationManager.ToAbsoluteUri("/playerhub"))
        //     .Build();

        hubConnection.On<UpdatedPlayersListMessage>("BroadcastPlayers", (updatedPlayersList) =>
        {
            allPlayers = updatedPlayersList.UpdatedPlayers;
            InvokeAsync(StateHasChanged);
        });

        // hubConnection.On<PlayerJoustRequest>("PlayerJoustRequest", () =>
        // {

        // });

        await hubConnection.StartAsync();

        myConnectionId = hubConnection.ConnectionId.ToString();

        await AskForPlayers();
    }

    private async Task AskForPlayers()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("GetPlayers");
        }
    }

    private async Task Send()
    {

        if (hubConnection is not null && !string.IsNullOrWhiteSpace(newPlayerName) && hubConnection.ConnectionId is not null)
        {
            var request = new ConnectToAllPlayersRequest(newPlayerName, hubConnection.ConnectionId);
            await hubConnection.SendAsync("ConnectPlayer", request);
        }
        joined = true;
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public class NamesJson
    {
        public List<string> Names { get; set; } = new();
    }
}
